<a href="https://colab.research.google.com/github/IsaacMrSmile/Curs_Python/blob/main/Curso_Python_EstructuraDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

# Lits

In [ ]:
# list, acepta cualquier tipo de datos

list_things = [60, 7.8, 'String', True ]
print(list_things)
print (list_things[1])
print (list_things[-3])

[60, 7.8, 'String', True]
7.8
7.8

In [ ]:
# Slicing, acceder a mas de un valor de una lista

print(list_things[0:2]) # primer indice, primera posicion que se inicia, el indice dos no lo incluye porque es string, solo es un rango
print(list_things[:2]) # todos los valors incluyendo desde el cero, solo se obvia
print(list_things[1:])

[60, 7.8]
[60, 7.8]
[7.8, 'String', True]

In [ ]:
 # Operadores en una lista, not in , in

 list_numbers = [1,2,3,4,5]
 print(10 in list_numbers)
 print(2 not in list_numbers)

False
False

In [ ]:
# Mutablity, si nosotros podemos cambir un objeto una vez que ha sido creado

numbers =  [3,4,5,6]
numbers[0] = 'tres'
print(numbers)
word = 'Hello there'
# los strings  no son mutables

['tres', 4, 5, 6]

In [ ]:
# Order, si la posicion de un elemento de la lista se puede usar para acceder a este elemento

print (numbers[0])
print (word[1])

tres
e

## Funciones de Listas

In [ ]:
# len, retorna la cantidad de elementos de una lista

numbers = [40, 50, 2, 3, 34, 5]
letters = ['b', 'y', 'u', 'i']

print(len(numbers))
print(len(letters))

6
4

In [ ]:
# max, devuelve el elemento mayor de la lista

print(max(numbers))
print(max(letters))


list_mix = [34, 'y', 9.6]
#print(max(list_mix)) tiene diferente tipos de datos y solo va dar error

50
y

In [ ]:
# min, devuelve el elemento menor de la lista
print(min(numbers))
print(min(letters))

2
b

In [ ]:
# sorted, retorna una copia de la lista ordenada de menor a mayor

print(sorted(numbers))
print(numbers)

[2, 3, 5, 34, 40, 50]
[40, 50, 2, 3, 34, 5]

In [10]:
# join, metodo de string, puede tomar una lista de string y concatenar

print(' - '.join(['Steven', 'Paul', 'Jhon']))
print( ' & '.join(['Carol', 'Jose']))

Steven - Paul - Jhon
Carol & Jose

In [19]:
# append, este elementos es util para a√±adir un elemento al final de la lista

letters = ['a', 'b', 'g', 'f']
letters.append ('m')
letters.append (4)
print(letters)

# queremos agregar mas de un elemento a una lista
# extend, agregar una lista como elementos de otros

letters.extend(['n', 'h'])
print(letters)

# remove, remover un elemento de una lista

letters.remove('a')
print(letters)

# pop, remover el elemento indicando la posicion

letters.pop(-1)
print(letters)

['a', 'b', 'g', 'f', 'm', 4]
['a', 'b', 'g', 'f', 'm', 4, 'n', 'h']
['b', 'g', 'f', 'm', 4, 'n', 'h']
['b', 'g', 'f', 'm', 4, 'n']

# Tuplas
 se usan para almacenar informacion relacionada que no va ser cambiada

In [25]:
location_home =  (34.567, 56.890)
print(location_home[0])
#location_home[0] = 67.78

dimensions = (45, 67, 90)
# los valores de las tuplas pueden ser asignados a otras variables
length, width, height = dimensions
print('dimensions length : {} width: {} height: {}'.format(length, width, height))

# cuando usar una tupla, cuando estemos seguro que los valores esten relacionados y no cambiarlos

34.567
dimensions length : 45 width: 67 height: 90

# Sets
Es una conexion de elementos unicos y que no estan ordenados, elementos unicos, los elementos duplicados de la lista van a ser eliminados.

Se usara sets cuando querramos tener listas de elementos unicos.

In [33]:
numbers = [4, 6, 8, 8, 9, 10, 10]
unique_numbers = set (numbers)
print (unique_numbers)


fruits = {'plantano', 'apple', 'orange'}
print ('mango' in fruits)

fruits.add('mango')
fruits.add('pera')
print(fruits)


fruits.pop() # elimina aleatoriamente el elemento
print(fruits)

{4, 6, 8, 9, 10}
False
{'mango', 'orange', 'pera', 'plantano', 'apple'}
{'orange', 'pera', 'plantano', 'apple'}