<a href="https://colab.research.google.com/github/IsaacMrSmile/Curs_Python/blob/main/Curso_Python_EstructuraDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

# Lits

In [3]:
# list, acepta cualquier tipo de datos

list_things = [60, 7.8, 'String', True ]
print(list_things)
print (list_things[1])
print (list_things[-3])

[60, 7.8, 'String', True]
7.8
7.8

In [7]:
# Slicing, acceder a mas de un valor de una lista

print(list_things[0:2]) # primer indice, primera posicion que se inicia, el indice dos no lo incluye porque es string, solo es un rango
print(list_things[:2]) # todos los valors incluyendo desde el cero, solo se obvia
print(list_things[1:])

[60, 7.8]
[60, 7.8]
[7.8, 'String', True]

In [15]:
 # Operadores en una lista, not in , in

 list_numbers = [1,2,3,4,5]
 print(10 in list_numbers)
 print(2 not in list_numbers)

False
False

In [26]:
# Mutablity, si nosotros podemos cambir un objeto una vez que ha sido creado

numbers =  [3,4,5,6]
numbers[0] = 'tres'
print(numbers)
word = 'Hello there'
# los strings  no son mutables

['tres', 4, 5, 6]

In [28]:
# Order, si la posicion de un elemento de la lista se puede usar para acceder a este elemento

print (numbers[0])
print (word[1])

tres
e

## Funciones de Listas

In [30]:
# len, retorna la cantidad de elementos de una lista

numbers = [40, 50, 2, 3, 34, 5]
letters = ['b', 'y', 'u', 'i']

print(len(numbers))
print(len(letters))

6
4

In [35]:
# max, devuelve el elemento mayor de la lista

print(max(numbers))
print(max(letters))


list_mix = [34, 'y', 9.6]
#print(max(list_mix)) tiene diferente tipos de datos y solo va dar error

50
y

In [38]:
# min, devuelve el elemento menor de la lista
print(min(numbers))
print(min(letters))

2
b

In [42]:
# sorted, retorna una copia de la lista ordenada de menor a mayor

print(sorted(numbers))
print(numbers)

[2, 3, 5, 34, 40, 50]
[40, 50, 2, 3, 34, 5]