<a href="https://colab.research.google.com/github/IsaacMrSmile/Curs_Python/blob/main/Curso_Python_Conceptos_Basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conceptos Basicos de  Python


1.   Variable
2.   Operadores
3.   DataType
4.   Functions

In [5]:
#  Variable


np_population = 1000
print(np_population)
print(type(np_population))

1000
<class 'int'>

In [9]:
x = 5 
y = 6
z = 7
z, y, z = 5, 6, 7
np_population, ch_population = 1000, 2000
print(np_population, ch_population)

1000 2000

In [10]:
# pythonic way: minusculas, _
full_name = 'Paul Miller'

In [15]:
# Operadores Aritmeticos

# +, -, *, /


x, y = 3, 4

print(x + y*5)
print ((x + y)*5)
print ( x -y)
print (x / y)

23
35
-1
0.75

In [20]:
# los valores aritmeticos tambien pueden ser usados con string

word = ' Hello'
print(word * 4)
print(word * 6)
print (word + str(6))

 Hello Hello Hello Hello
 Hello Hello Hello Hello Hello Hello
 Hello6

In [23]:
# Operador modulo %, cual extrae el residuo de una division

print( 9 % 2)
print (23 % 10)

1
3

In [26]:
# Potencia **, 

number = 5
power = 2
print(number ** power)
print (3.5 ** 3)

25
42.875

In [28]:
# division entera //

print(9 // 2)

4

In [31]:
# Operdaoreds Logicos 
# AND

age = 40 
is_adult = age > 16 and age < 60 
print(is_adult)


user, pasword =  'admin', '123'
is_login =  user == 'admin' and pasword == '123'
print(is_login)


user, pasword =  'root', '123'
is_login =  user == 'admin' and pasword == '123'
print(is_login)

True
True
False

In [37]:
# NOT , negar los valores TRUE

is_not_adult = not (is_adult)
print(is_not_adult)

is_not_allow =  not (is_login)
print (is_not_allow)

False
True

In [40]:
# or, evalua si el valor del lado izquiero o derecho se cumple

name = 'Paul'
is_student = name == 'Paul' or name == 'Mark'
print(is_student)

name = 'Mary'
is_student = name == 'Paul' or name == 'Mark'
print(is_student)

True
False

In [43]:
# Tipos de Datos= int, float, string, booleang

x = 4.5
y = 4

print(type(x), type(y))

x = int(4.5)
y = float (4)

print(type(x), type(y))

<class 'float'> <class 'int'>
<class 'int'> <class 'float'>

In [48]:
# <, >, >=, <=, ==, !=

print(None == 0)
print('Hi' > 'Hello')
print(4.5 <= 3.6)

False
True
False

In [51]:
word = 'Hello'
word_ = "Hello"
# el resultado es el mismo
result_ = 'Welcome to "Macdonalds"'
print(result_)

result = 'Welcome to "Macdonal\'s"'
print(result)

Welcome to "Macdonalds"
Welcome to "Macdonal's"

In [58]:
#Funciones

## lower, pasar toda la variable a minuscula

word = 'Hello There'
word_ = 'hello there'
print(word.lower())
print(word_.islower())

hello there
True

In [61]:
# count, contar elementos
print (word.count('e'))
print (word.find('e'))

3
1

In [63]:
# format, imprime sentencias

print('Welcome {} to the AI course '.format('Paul'))

Welcome Paul to the AI course

In [68]:
# split, convirte una oracion en una lista

new_word =  'I like extreme sport'
print(new_word.split())
print (new_word.split(' ',2)) # separa en argunmentos, un valor para separalo, segundo armguneto maximo de cantidad de separarlos

['I', 'like', 'extreme', 'sport']
['I', 'like', 'extreme sport']