<a href="https://colab.research.google.com/github/IsaacMrSmile/Curs_Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Panda

# -Series

In [ ]:
import pandas as pd

In [ ]:
students = pd.Series(data = ['Luis', 'USA', 40], index = ['name', 'country', 'age']) # data = valores, Indices = valores donde se coloracara la data
students

In [ ]:
print(students.shape) # dimensiones
print(students.ndim) # cantidad de dimensiones
print(students.size) # cantidad de valores

In [ ]:
print(students.values) # los valores
print(students.index) # los indices
print('company' in students) # buscar el valor en la lista

# Acceder y eliminar elementos en Series

In [ ]:
import pandas as pd

students = pd.Series(data = ['Luis', 'USA', 40], index = ['name', 'country', 'age'])
students

In [ ]:
# como podemos acceder a estos elementos

print(students['name'])

In [ ]:
print(students[['name', 'age']])

In [ ]:
print(students[1])

In [ ]:
print(students[[0,1]])

In [ ]:
print(students[-1])

In [ ]:
print(students.loc['country'])
print(students.loc['name'])

In [ ]:
print(students.iloc[0]) #para colocar la posion de los elementos

In [ ]:
# eliminamos elementos de una celda

students.drop('age', inplace=True ) # pero con drop no modifica la seria original,
#pero colocamos true el valor se eliminaria de la lista original
print(students)

# Operaciones Aritmeticas en Series

In [ ]:
import pandas as pd

In [ ]:
fruits =  pd.Series( data = [20, 40, 60], index  = ['mango', 'apple', 'banana'])
fruits

In [ ]:
print( fruits + 3)

In [ ]:
print(fruits - 4)

In [ ]:
print(fruits * 2)

In [ ]:
print(fruits / 10)

In [ ]:
#

import numpy as np

In [ ]:
print(np.sqrt(fruits))

In [ ]:
print(np.exp(fruits)) # e elevada a cada valor

In [ ]:
print(np.power(fruits, 2))

In [ ]:
print(fruits['mango'] + 3)

In [ ]:
print(fruits[['banana', 'apple']]*10)

In [ ]:
print(fruits.loc['apple'] / 10)

# DataFrame
Objeto de 2 dimensiones con filas y columnas etiquetadas

### -Manualmente a partir de un diccionario

In [ ]:
import pandas as pd

In [ ]:
items = {'Paul': [10, 20, 30], 'Mary': [40, 50, 60]} # estos valores son ayadidos como columnas
df = pd.DataFrame(items)
df

In [ ]:
# agregar nombres a las filas

items = {'Paul': pd.Series([10, 20, 30], ['apple', 'banana', 'mango']), 'Mary': pd.Series([40, 50, 60], ['apple', 'orange', 'mango'])}
df = pd.DataFrame(items)
df

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
df.columns # se usa para analisar los datos

In [ ]:
df.shape # filas y columnas

In [ ]:
# obtener solo un data frame de una sola columna

df = pd.DataFrame(items, columns = ['Paul'])
df

In [ ]:
df = pd.DataFrame(items, columns = ['Paul'], index=['apple', 'banana']) # solo quiero mostrar apple y banana
df

### Creando cargando un archivo (cvs)

In [ ]:
# csv
import pandas as pd

In [ ]:
#df = pd.read_csv('data_fifa.csv')

from google.colab import csv
uploaded = file.upload()